<header class="d-grid d-md-flex justify-content-between shadow p-4 mb-1 bg-body-tertiary rounded">
    <h2 class="fs-2 fw-medium font-monospace">Dashboard</h2>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
  </header>