<head>
<meta charset="UTF-8" />
<title>Dashboard | InsightFulVerse</title>
<link rel="stylesheet" href="/stylesheets/dashboard.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css'>
<link rel="stylesheet" href="stylesheets/formstyle.css">
</head>