<header class="d-grid d-md-flex justify-content-between shadow p-4 mb-1 bg-body-tertiary rounded">
  <section class="d-flex align-items-center">
    <h2 class="fs-2 fw-medium font-monospace mr-3">Dashboard</h2>
    <a href="/blogs" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-1 ">Home</a>
  </section>
    <button type="button" class="btn btn-outline-secondary">
      <%=locals.currentUser.name%>
    </button>
  </header>