<nav class=" p-4 mb-1 bg-body-tertiary rounded d-flex justify-content-between flex-column mb-3">

    <section class="d-flex gp-2 justify-content-between flex-column mb-3">
            <a class="btn btn-outline-primary mb-2" href="/addblogs">ADD BLOGS</a> 
            <a type="button" href="/dashboard" class="btn btn-outline-secondary">My blogs</a>
    </section>

    <a href="/users/logout" class="btn btn-outline-dark">Logout</a>
  </nav>