<nav>
        <ul>
          <li><a href="#" class="logo">
            <span class="nav-item">DashBoard</span>
          </a></li>

          <li><a href="/blogs">
            <i class="fas fa-home"></i>
            <span class="nav-item">Home</span>
          </a></li>          
          <li><a href="/addblogs">
            <i class="fas fa-home"></i>
            <span class="nav-item">Share idea</span>
          </a></li>
          <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Profile</span>
          </a></li>
          <li><a href="/dashboard">
            <i class="fas fa-cog"></i>
            <span class="nav-item">My posts</span>
          </a></li>
          <li><a href="/users/logout" class="logout">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item">Log out</span>
          </a></li>
        </ul>
      </nav>