<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/formstyle.css">
</head>
<body>
    <form action="/addblog" method="post">
        <div>
            <label for="name">Blog Name:</label>
            <input type="text" name="name" id="name" required> 
        </div>
        <div>
            <label for="">Blog Descrition:</label>
            <textarea name="description" id="" cols="30" rows="10" required></textarea>
        </div>
        <button type="submit">Add blog</button>
    </form>
</body>
</html>