<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>

    <div class="contrainer" style="display: flex;">
        <%- include('./partials/nav')%> 
        <section class="main">
            <%- include('./partials/header')%>
                <form action="/addblog" method="post">
                    <div>
                        <label for="name">Blog Name:</label>
                        <input type="text" name="name" id="name" required> 
                    </div>
                    <div>
                        <label for="">Blog Descrition:</label>
                        <textarea name="description" id="" cols="30" rows="10" required></textarea>
                    </div>
                    <button type="submit">post</button>
                </form>
        </section>
    </div>

    
    
</body>
</html>