<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>

    <div class="contrainer" style="display: flex;">
        <%- include('./partials/nav')%> 
        <section class="main">
            <%- include('./partials/header')%>
                <form action="/addblog" method="post">
                    <div>
                        <label for="">Post</label>
                        <textarea name="description" id="" cols="30" rows="10" required placeholder="your post..."></textarea>
                    </div>
                    <div>
                        <label for="content">Content:</label>                    
                        <select name="content" id="content">
                            <option value="dev">Dev</option>
                            <option value="design">Design</option>
                            <option value="Copywriting">Copywriting</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                    <button type="submit">post</button>
                </form>
        </section>
    </div>

    
    
</body>
</html>