<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home |  Blog site</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/users/register">Be a member</a></li>
                <li><a href="/addblogs">Add blogs</a></li>
            </ul>
        </nav>    
    </header>
   <div>
        <main>
            <% allBlogs.forEach(item => {%>
                <section class="post">
                    <h2 class="name"> <%= item.name %></h2>
                    <p class="description"><%= item.description %></p>
                    <p class="date"><%= item.date%></p>
                </section>
           <% })%>
        </main>

        <footer>
            <p>&copy; 2022 My Website. All rights reserved.</p>
        </footer>    
   </div>
   <section class="user"></section>

</body>
</html>