<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/welcome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
   <section class="home">
        <section class="invite">
            <h3>Become a member of a intellictual community</h3>
            <p></p>
        </section>
        <section class="welcome">
            <h2>Welcome to [Your Blog App Name]</h2>
            <p>A platform where creativity takes center stage. Our blog app is designed to be a space of insightful stories, meaningful discussions, and engaging content. Join us as we explore a world of captivating narratives, diverse perspectives, and thought-provoking insights. Whether you're here to share your voice or to absorb the vast tapestry of human experiences, we invite you to immerse yourself in a journey of discovery, connection, and inspiration. Let's embark on this adventure together, where every story matters and every voice resonates.</p>
            
        </section>
   </section>
</body>
</html>