body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(22, 1fr);
    height: 100vh;
}
header {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
 

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline-end: 1rem;
}
header > ul {
    grid-row: 1 / -1;
    padding: 2rem;
}
nav {
    grid-row: 4 / -1;
}
main {
    grid-column: 2 / -1;
    grid-row: 4 / 20;
}
footer {
    grid-column: 2 / -1;
    grid-row: 20/ -1;
}