/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* padding-inline: 1.5rem; */
  background-color: #f8f6f6;
}
.design {
  background-color: rgba(218, 96, 96, 0.215);
  color: rgb(198, 5, 5);
  padding: 5px 9px;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.other {
  padding: 3px 9px;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  display: none;
}
.Copywriting {
  background-color: rgba(219, 204, 106, 0.151);
  color: rgb(248, 171, 6);
  padding: 5px 9px;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.dev{
  background-color: rgba(96, 218, 133, 0.215);
  color: rgb(5, 198, 114);
  padding: 5px 9px;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.container{
  display: flex;
}
nav{
  /* position: relative; */
  top: 0;
  bottom: 0;
  /* height: 100vh; */
  left: 0;
  background: #fff;
  width: 37%;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}
.logout{
  position: relative;
  bottom: 0;
  margin-top: 190px;
}
nav ul, nav ul li a {
  width: 100%;
}

/* Main Section */
.main{
  position: relative;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group:hover .group-hover\:flex {
	display: flex !important;
}
.main-top{
  display: flex;
  width: 100%;
  justify-content: end;
  font-family: popins, sans-serif;
  font-weight: 500;
}
.main-top i{
  position: absolute;
  right: 0;
  /* margin: 10px 30px; */
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-skills{
  display: flex;
  margin-top: 20px;
}
.main-skills .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
}
.main-skills .card p{
  font-size: 12px;
}
.main-skills .card button{
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-skills .card button:hover{
  background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
  font-size: 22px;
  padding: 10px;
}

/* Courses */
.main-course{
  margin-top:20px ;
  text-transform: capitalize;
}
.course-box{
  width: 100%;
  height: 300px;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.course-box ul{
  list-style: none;
  display: flex;
}
.course-box ul li{
  margin: 10px;
  color: gray;
  cursor: pointer;
}
.course-box ul .active{
  color: #000;
  border-bottom: 1px solid #000;
}
.course-box .course{
  display: flex;
}
.box{
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box p{
  font-size: 12px;
  margin-top: 5px;
}
.box button{
  background: #000;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}
.box button:hover{
  background: rgba(0, 0, 0, 0.842);
}
.box i{
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}
.html{
  color: rgb(25, 94, 54);
}
.css{
  color: rgb(104, 179, 35);
}
.js{
  color: rgb(28, 98, 179);
}