body {
    padding: 1.5rem 4rem;
    margin: 0;
    display: flex;
    justify-content: center;
}
.home {
    width: 100%;
    min-height: 90vh;
    border: 1px solid red;
    border-radius: 1.5rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 3);
}
.welcome {
    grid-column: 2 / 4;
    grid-row: 1 / -1;
    padding: 0rem 2rem;
    box-sizing: border-box;
    min-width: fit-content;


    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    /* justify-content: center; */
    align-items: center;
}
.invite {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    box-sizing: border-box;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(1fr, 4);
}
.invite > div {
    min-width: 100%;
    grid-column: 1 / -1;
}
.welcome p {
    max-width: 60ch;
}